<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>

         <class name="test.java.it.ausposttests.AusMyPostBusinessBTestIT"/>
    </classes>
  </test> <!-- Test -->
     <listeners>
       <!--   <listener class-name="it.framework.listeners.verify.TestMethodListener" />-->
        <listener class-name="main.java.it.listeners.TestFailureListeners" />
    </listeners>
    
  
</suite> <!-- Suite -->
